article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

.facebook {
  background: #3b5998; }

.twitter {
  background: #55acee; }

.gplus {
  background: #dd4b39; }

.instagram {
  background: #405de6; }

.vimeo {
  background: #1ab7ea; }

.pinterest {
  background: #bd081c; }

.youtube {
  background: #cd201f; }

.linkedin {
  background: #0077B5; }

.buffer {
  background: #222222; }

.stumbleupon {
  background: #eb4924; }

/* Typography
   ========================================================================== 
*/
html {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    html {
      font-size: calc(1rem + 0.3 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    html {
      font-size: 1.3rem; } }

body {
  background: #ffffff;
  color: #111111;
  font-family: "Nunito", serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

a {
  color: #02bb80;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

a:hover {
  color: #111111; }

a:active {
  color: #111111; }

a:focus {
  color: #111111;
  outline: none; }

.inverse {
  color: #111111;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

.inverse:hover {
  color: #02bb80; }

.inverse:active {
  color: #02bb80; }

.inverse:focus {
  color: #02bb80;
  outline: none; }

blockquote,
p,
ul,
ol,
dl,
table,
hr {
  margin-top: calc(1rem + 0.25vw); }

blockquote,
figure {
  margin-top: calc(1.5rem + 1vw);
  margin-bottom: calc(1.5rem + 1vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  margin-top: calc(1.5rem + 1vw);
  text-transform: uppercase; }

h1,
.u-h1 {
  margin: 0.5rem 0 1.5rem; }
  h1,
  .u-h1 {
    font-size: 1.60181rem; }
    @media screen and (min-width: 20rem) {
      h1,
      .u-h1 {
        font-size: calc(1.60181rem + 0.67889 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      h1,
      .u-h1 {
        font-size: 2.2807rem; } }

h2,
.u-h2 {
  font-size: 1.26562rem; }
  @media screen and (min-width: 20rem) {
    h2,
    .u-h2 {
      font-size: calc(1.26562rem + 0.53641 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h2,
    .u-h2 {
      font-size: 1.80203rem; } }

h3,
.u-h3 {
  font-size: 1.125rem; }
  @media screen and (min-width: 20rem) {
    h3,
    .u-h3 {
      font-size: calc(1.125rem + 0.47681 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h3,
    .u-h3 {
      font-size: 1.60181rem; } }

h4,
.u-h4 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h4,
    .u-h4 {
      font-size: calc(1rem + 0.42383 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h4,
    .u-h4 {
      font-size: 1.42383rem; } }

h5,
.u-h5 {
  font-size: 0.88889rem; }
  @media screen and (min-width: 20rem) {
    h5,
    .u-h5 {
      font-size: calc(0.88889rem + 0.37674 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h5,
    .u-h5 {
      font-size: 1.26562rem; } }

h6,
.u-h6 {
  font-size: 0.79012rem; }
  @media screen and (min-width: 20rem) {
    h6,
    .u-h6 {
      font-size: calc(0.79012rem + 0.33488 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h6,
    .u-h6 {
      font-size: 1.125rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: calc(0.75rem + 0.25vw); }

b,
strong {
  font-weight: 600; }

blockquote {
  border-left: 0.2rem solid #02bb80;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 0.75rem 0 0.75rem 1.75rem; }
  blockquote cite {
    color: #111111;
    display: block;
    font-size: 0.88889rem;
    margin-top: 0.75rem; }
    blockquote cite:before {
      content: "- "; }
  blockquote > :nth-child(1) {
    margin-top: 0; }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25rem 1rem; }

dl dt {
  font-weight: 600; }

pre {
  margin: 1.5rem 0 0;
  padding: 1.5rem 3rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.79012rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #dedede;
    padding: 0.75rem 1.25rem; }
  table tr:nth-child(2n) {
    background: #f3f3f3; }
  table td {
    padding: 0.75rem 1.25rem; }

figcaption {
  clear: both;
  color: #888888;
  font-style: italic;
  font-size: 0.79012rem;
  margin: 0.75rem 0 0;
  text-align: center; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.btn, [type=button],
[type=submit],
button {
  background: none;
  border: 1px solid #111111;
  color: #111111;
  cursor: pointer;
  display: inline-block;
  font: 400 0.70233rem "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    border-color: #02bb80;
    color: #02bb80;
    text-decoration: none; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: 2px dotted #02bb80; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f3f3f3;
    border-color: #c4c4c4;
    color: #888888;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    border: 1px solid #111111; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.5rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #b8b8b8;
  margin: 0 0 1.5rem;
  padding: 1.5rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 600; }

label {
  font-weight: 600;
  margin: 0 1rem 0.75rem 0; }

option {
  font-weight: 300; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: none;
  border: 1px solid #b8b8b8;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #02bb80; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #b8b8b8;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem;
      margin-right: 0.5rem;
      vertical-align: text-top;
      text-align: center;
      width: 1.25rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%2302bb80'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%2302bb80'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3rem; }

select[multiple] {
  border: 1px solid #b8b8b8;
  padding: 1.5rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #b8b8b8; }
  select[multiple]:focus {
    border-color: #02bb80; }
  select[multiple]:disabled {
    background-color: #f3f3f3;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #b8b8b8; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  margin: 0 auto;
  padding: 0 4%;
  max-width: calc(48rem + 8%); }
  .container > header {
    margin-bottom: 3.75rem;
    position: relative;
    text-align: center; }
    @media all and (max-width: 56.1875em) {
      .container > header {
        border-bottom: 1px solid #dedede;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 3rem;
        padding: 0.25rem 0;
        position: relative; } }
    .container > header.is-sticky {
      background: #ffffff;
      border-bottom: 1px solid #dedede;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 3rem;
      padding: 0.25rem 0;
      position: fixed !important;
      top: 0;
      width: 92%;
      z-index: 999; }
      @media all and (min-width: 56.25em) {
        .container > header.is-sticky {
          max-width: 48rem; } }
      .container > header.is-sticky .logo {
        font-size: 1.80203rem;
        margin: 0; }
      .container > header.is-sticky .search {
        top: auto; }
        .container > header.is-sticky .search + .navbar {
          margin-right: 1.5rem; }

/* Logo ------------------------ */
.logo {
  color: #111111 !important;
  display: inline-block;
  font-family: "Damion", cursive;
  font-size: 1.80203rem;
  letter-spacing: 1px;
  text-align: center; }
  @media all and (min-width: 56.25em) {
    .logo {
      font-size: 3.65324rem;
      margin: 1.5rem 0 0.75rem; } }
  .logo:hover {
    text-decoration: none; }
  .logo:focus {
    outline: none; }

.search__btn {
  border: none;
  padding: 0;
  position: absolute;
  right: 3rem;
  top: 40%;
  width: auto; }
  @media all and (min-width: 56.25em) {
    .search__btn {
      right: 0; } }

.search__input {
  border: none;
  border-bottom: 2px solid #dedede;
  display: none;
  font-size: 1.26562rem;
  opacity: 0;
  width: 48rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.search__close {
  border: none;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 2.5rem;
  text-indent: -999rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  top: 2.5rem;
  width: auto; }
  .search__close:before, .search__close:after {
    background-color: #111111;
    content: '';
    left: 1rem;
    height: 2rem;
    opacity: 0.4;
    position: absolute;
    width: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .search__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .search__close:hover {
    opacity: 1; }

.search__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.48s;
  -o-transition: all 0.48s;
  transition: all 0.48s;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden; }
  .search__overlay.expanded {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 100000000;
    display: block;
    visibility: visible; }
    .search__overlay.expanded .search__input {
      -webkit-animation: slideininput 0.98s forwards;
      animation: slideininput 0.98s forwards;
      display: block; }

@-webkit-keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 92%; } }

@keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 92%; } }
    .search__overlay.expanded .search__close {
      -webkit-animation: slideinclose 0.98s forwards;
      animation: slideinclose 0.98s forwards; }

@-webkit-keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Navigation ------------------------ */
.navbar__menu {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 5.25rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
      transform: translateY(-5%);
      width: 100%;
      z-index: 1; }
      .navbar__menu > li {
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid #dedede;
        padding-left: 0; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      overflow: visible;
      text-align: center; } }
  .navbar__menu li {
    color: #111111;
    font-size: 0.79012rem;
    list-style: none;
    text-transform: uppercase; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        margin: 0 0.5rem;
        padding: 0;
        position: relative;
        z-index: 999; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          visibility: visible; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #111111;
      padding: 0.25rem 0 0;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 0.75rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #02bb80; }
    .navbar__menu li span {
      cursor: default; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 0 1px #dedede;
    box-shadow: 0 0 0 1px #dedede;
    left: auto;
    margin: 15px 0 0;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 100%;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    visibility: hidden;
    width: auto;
    z-index: 998; }
    .navbar__submenu:after {
      background: #ffffff;
      border-left: 1px solid #dedede;
      border-top: 1px solid #dedede;
      content: '';
      display: block;
      height: 10px;
      left: 20px;
      position: absolute;
      top: -6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 10px; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      margin: 0; } }
    @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
      .navbar__submenu li {
        padding: 0.25rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li ul {
        left: calc(100% + 12px);
        top: -22px;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul:after {
          left: -6px;
          top: 15px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .navbar__submenu li ul:before {
          height: 100%;
          left: -12px;
          top: 0;
          width: 12px; }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: calc(100% + 12px);
          top: -22px; }
          .navbar__submenu li ul.navbar__submenu--reversed:after {
            left: auto;
            right: -6px;
            top: 15px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
          .navbar__submenu li ul.navbar__submenu--reversed:before {
            height: 100%;
            left: auto;
            right: -12px;
            top: 0;
            width: 12px; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none;
  border: none;
  border-top: 2px solid #000000;
  border-radius: 0;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #000000;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:after {
    border-bottom: 2px solid #000000;
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .navbar__toggle:focus {
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #111111; }
  .navbar__toggle:hover {
    background: none; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
  .is-opened > ul li {
    padding: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li ul {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
      visibility: hidden; }
      .is-opened > ul li ul li {
        border-top: 1px solid #dedede; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      visibility: visible; }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #02bb80;
    border-bottom: 1px solid #02bb80;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px; } }

@media all and (min-width: 56.25em) {
  .u-innerwrap {
    width: 36rem;
    margin-left: auto;
    margin-right: auto; } }

.hero {
  margin: 0 0 1.5rem;
  text-align: center; }
  .hero p {
    margin: 0; }
    .hero p:first-letter {
      text-transform: uppercase; }
  .hero a {
    text-decoration: underline; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.75rem; }
  .category > article {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 0.88889rem;
    line-height: 1.4;
    padding: 1.5rem;
    padding-top: calc(1.5rem + 1vw);
    position: relative;
    text-align: center; }
    @media all and (min-width: 37.5em) {
      .category > article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    @media all and (min-width: 56.25em) {
      .category > article {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%; } }
    .category > article a:hover {
      text-decoration: none; }
  @media all and (min-width: 56.25em) {
    .category--layout-1 > article {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .category--layout-1 > article:nth-child(1) {
        -webkit-box-flex: 2;
        -ms-flex: 2 100%;
        flex: 2 100%; }
      .category--layout-1 > article:nth-child(2), .category--layout-1 > article:nth-child(3), .category--layout-1 > article:nth-child(4), .category--layout-1 > article:nth-child(5), .category--layout-1 > article:nth-child(6), .category--layout-1 > article:nth-child(11) {
        -webkit-box-flex: 2;
        -ms-flex: 2 50%;
        flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-2 > article {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .category--layout-2 > article:nth-child(1), .category--layout-2 > article:nth-child(2), .category--layout-2 > article:nth-child(3), .category--layout-2 > article:nth-child(4), .category--layout-2 > article:nth-child(5), .category--layout-2 > article:nth-child(10) {
        -webkit-box-flex: 2;
        -ms-flex: 2 50%;
        flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-3 > article:nth-child(5n-4), .category--layout-3 > article:nth-child(5n-3) {
      -webkit-box-flex: 2;
      -ms-flex: 2 50%;
      flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-4 > article:nth-child(5n-1), .category--layout-4 > article:nth-child(5n) {
      -webkit-box-flex: 2;
      -ms-flex: 2 50%;
      flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-5 > article:nth-child(3n-2) {
      -webkit-box-flex: 2;
      -ms-flex: 2 100%;
      flex: 2 100%; }
    .category--layout-5 > article:nth-child(3n-1), .category--layout-5 > article:nth-child(3n) {
      -webkit-box-flex: 2;
      -ms-flex: 2 50%;
      flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-6 > article {
      -webkit-box-flex: 2;
      -ms-flex: 2 50%;
      flex: 2 50%; } }
  @media all and (min-width: 56.25em) {
    .category--layout-7 > article {
      -webkit-box-flex: 2;
      -ms-flex: 2 100%;
      flex: 2 100%; } }

.card__image {
  margin: 0 -0.75rem;
  overflow: hidden; }
  .card__image-link {
    display: block;
    height: 0;
    position: relative;
    width: 100%; }
  .card__image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: 100%; }

.card__header {
  background: #ffffff; }
  .card__header > h2 {
    font-size: 0.88889rem;
    font-weight: 600;
    margin-top: 0.5rem; }
  .card__header > p {
    color: #888888;
    font-size: 0.6243rem;
    text-transform: uppercase; }

.post {
  position: relative; }
  .post__image--left {
    float: left;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    max-width: 50%; }
  .post__image--right {
    float: right;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    max-width: 50%; }
  .post__image--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  @media all and (min-width: 56.25em) {
    .post__image--wide {
      margin-left: -6rem;
      margin-right: -6rem; }
      .post__image--wide > img {
        width: 100%; } }
  .post__image--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%); }
    .post__image--full > img {
      width: 100%; }
  .post__video {
    height: 0;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 56.25%;
    position: relative; }
    .post__video > iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .post__meta {
    color: #888888;
    font-size: 0.79012rem; }
  .post__featured-image {
    display: block;
    height: 0;
    margin-top: calc(1.5rem + 1vw);
    margin-bottom: calc(1.5rem + 1vw);
    position: relative;
    width: 100%; }
    .post__featured-image > img {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .post__featured-image > figcaption {
      background: black;
      bottom: 1rem;
      color: #ccc;
      max-width: 90%;
      padding: 0 0.5rem;
      position: absolute;
      right: 1rem; }
  .post__entry > :nth-child(1) {
    margin-top: 0; }
  .post__entry a:hover {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink; }
  .post__last-updated {
    color: #888888;
    font-size: 0.79012rem;
    font-style: italic;
    margin: 1rem 0 0;
    text-align: left; }
  .post__tag {
    margin-left: 0; }
    .post__tag li {
      display: inline-block;
      list-style: none;
      padding: 0 1rem 0 0; }
      .post__tag li > a {
        color: #888888;
        text-decoration: none;
        -webkit-transition: all 0.12s linear 0s;
        -o-transition: all 0.12s linear 0s;
        transition: all 0.12s linear 0s; }
      .post__tag li > a:hover {
        color: #02bb80; }
      .post__tag li > a:active {
        color: #111111; }
      .post__tag li > a:focus {
        color: #111111;
        outline: none; }
      .post__tag li > a:before {
        content: "# "; }
  .post__bio {
    border-top: 1px solid #dedede;
    font-size: 0.88889rem;
    margin-top: calc(3rem + 1vw);
    padding-top: calc(1.5rem + 1vw);
    text-align: center; }
    .post__bio:after {
      content: " ";
      display: block;
      clear: both; }
    .post__bio h3 {
      margin: 0 0 1.5rem; }
    .post__bio > img {
      border-radius: 50%;
      height: 4rem;
      margin-bottom: 1.5rem;
      width: 4rem; }
  .post__nav {
    border-top: 1px solid #dedede;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.6243rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: calc(3rem + 1vw);
    padding-top: calc(1.5rem + 0.25vw);
    text-transform: uppercase;
    z-index: 0; }
    .post__nav__link {
      color: #888888; }
      @media all and (min-width: 37.5em) {
        .post__nav__link {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around; } }
      .post__nav__link > img {
        -webkit-transition: all 0.24s ease;
        -o-transition: all 0.24s ease;
        transition: all 0.24s ease;
        width: 100px; }
        @media all and (max-width: 37.4375em) {
          .post__nav__link > img {
            display: none; } }
      .post__nav__link:hover {
        text-decoration: none; }
        .post__nav__link:hover h5 {
          -webkit-transition: all 0.12s linear;
          -o-transition: all 0.12s linear;
          transition: all 0.12s linear;
          color: #02bb80; }
        .post__nav__link:hover:hover img {
          opacity: 0.8; }
    .post__nav h5 {
      font-size: 0.79012rem;
      margin: 0.25rem 0 0;
      position: relative; }
    .post__nav__prev {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      text-align: left; }
    .post__nav__next {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-left: auto;
      text-align: right; }
    @media all and (min-width: 37.5em) {
      .post__nav__text {
        width: 55%; } }
  .post__nav + .post__related {
    margin-top: calc(1.5rem + 0.25vw); }
  .post__related {
    border-top: 1px solid #dedede;
    margin-top: calc(1.5rem + 1vw); }
    .post__related__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 1.5rem -2% 0;
      width: 104%; }
      .post__related__wrap figure {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 0;
        padding: 0.75rem 2% 0; }
        @media all and (min-width: 37.5em) {
          .post__related__wrap figure {
            -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%; } }
        .post__related__wrap figure a > img {
          -webkit-transition: all 0.24s ease;
          -o-transition: all 0.24s ease;
          transition: all 0.24s ease; }
        .post__related__wrap figure a:hover img {
          opacity: 0.8; }
      .post__related__wrap figcaption {
        font-style: normal; }
        .post__related__wrap figcaption > time {
          color: #888888;
          font-size: 0.6243rem;
          margin: 0.75rem 0 0.75rem;
          text-transform: uppercase; }
      .post__related__wrap h4 {
        font-size: 0.79012rem;
        margin: 0.5rem 0 0.75rem; }
        .post__related__wrap h4 a:hover {
          text-decoration: none; }
  .post__share {
    margin: 2.25rem 0 calc(3rem + 1vw);
    text-align: center; }
    .post__share > a {
      border-radius: 50%;
      color: #ffffff;
      display: inline-block;
      height: 2rem;
      margin: 0 0.25rem;
      text-align: center;
      width: 2rem; }
      .post__share > a:hover {
        color: #ffffff;
        text-decoration: none;
        background: #000000; }
    .post__share .icon {
      fill: #ffffff;
      margin: 0 auto;
      opacity: 1 !important;
      pointer-events: none;
      vertical-align: text-bottom; }

.comments {
  border-top: 1px solid #dedede;
  margin-top: calc(3rem + 1vw); }
  .comments > h3 {
    margin-bottom: 1.25rem; }

.banner {
  text-align: center; }
  .banner--before-post {
    margin-bottom: 3rem; }
    @media all and (min-width: 56.25em) {
      .banner--before-post {
        margin-bottom: 3.75rem; } }
  .banner--after-post {
    margin-top: calc(1.5rem + 1vw); }

.author__thumb {
  border-radius: 50%;
  height: 5rem;
  margin-bottom: 1.5rem;
  width: 5rem; }

.search-page__input {
  width: 100%; }

.gsc-control-cse {
  padding: 0; }

.gs-webResult {
  border-top: 1px solid #dedede;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.5rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1rem 1.5rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 4.10989rem;
  line-height: 0.7;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0; }

/* Pagination ------------------------ */
.pagination {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%; }
  @media all and (min-width: 56.25em) {
    .pagination {
      margin-top: 4.5rem; } }
  @media all and (min-width: 20em) {
    .pagination > a + a {
      margin-left: 0.5rem; } }

/* Footer ------------------------ */
.footer {
  border-top: 1px solid #dedede;
  overflow: hidden;
  padding: 2.5rem 4%;
  margin: 6.75rem 0 0;
  text-align: center; }
  .footer__copyright {
    color: #888888;
    font-size: 0.6243rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 0; }
  .footer__social > a {
    padding: 0.25rem; }
    .footer__social > a:hover {
      text-decoration: none; }
  .footer__social .icon {
    fill: #111111;
    opacity: 0.6; }
    .footer__social .icon:hover {
      opacity: 1; }

.icon {
  display: inline-block;
  height: 0.9rem;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 0.9rem; }

.gallery {
  margin: calc(1.5rem + 1vw) -0.5rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      width: 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      width: 33%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      width: 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      width: 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      width: 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      width: 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      width: 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.5rem; }
    @media all and (min-width: 20em) {
      .gallery__item {
        width: 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        width: 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        width: 25%; } }
    .gallery__item img {
      display: block;
      width: 100%; }

.pswp--dark .pswp__bg {
  background: #000000; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #000000; }

.pswp--light .pswp__caption__center {
  color: #111111; }

/*# sourceMappingURL=main.css.map */